html{
    height: 100%;
}

body{
    height:1000%;
    margin:0;
    background-color: rgb(34, 33, 37);
    padding-top:3%;
}


::-webkit-scrollbar{
    width:15px;
}

::-webkit-scrollbar-track{
    background: #807f7f;
    
}

::-webkit-scrollbar-thumb{
    background: rgb(89, 89, 89);
}


.header{
    width:100%;
    position:fixed;
    top:0;
    background-color:#1f1c1c;
    border-bottom:0.2vw solid white;
    z-index:100;
}
.header a{
    float:left;
    color:white;
    opacity:1;
    font: 1vw 'Prompt', sans-serif;
    margin-left:2.5vw;
    margin-top:1.5vw;
    margin-bottom:1vw;
}

.header h1{
    float:left;
    color:white;
    font:1.5vw 'Prompt', sans-serif;
    margin-left: 3vw;
    margin-right:55vw;
    margin-top:1vw;
    margin-bottom:1vw;
}

.header a:hover{
    cursor: pointer;
}

a:active, a:focus{
    outline:0;
    border: none;
}


.intro{
    width:60%;
    text-align:center;
    margin: 0 auto;
}



.intro h2{
    font: 6vw 'Prompt', sans-serif;
    color:white;
    margin-bottom:0;
}

.intro h1{
    font: 2vw 'Prompt', sans-serif;
    margin-top:0;
    color:white;
}

.smallTxt{
    font: 1.5vw 'Prompt', sans-serif;
    color:white;
}

.iconContainer{
    margin-top:5vh;
    text-align:center;
}

.iconContainer a{
    text-decoration:none;
}

.fa{
    font-size:3vw;
    color:white;
    margin-right:1vw;
}


.projectScroll{
    margin-top:5vw;
    margin-bottom:8vw;
    text-align:center;
}

.projectScroll a{
    border:medium solid white;
    border-radius:5vw;
    padding:1%;
}

.projectScroll a:hover{
    cursor:pointer;
    opacity:0.5;
    animation: opacityFadeIn 0.5s;
}

@keyframes opacityFadeIn{
    0%{
        opacity:1;
    }
    100%{
        opacity:0.5;
    }
}


.projectsTitle{
    margin-left: 3vw;
    padding-top:4vw;
    margin-top:-4vw;
}


.projectsTitle h1{
    font: 2.5vw 'Prompt', sans-serif;
    color:white;
}

.projectName{
    font: 2vw 'Prompt', sans-serif;
    color:white;
}

.projectOneContainer{
    height:5vh;
}

.projectOneContainer h1{
    margin-left:5vh;
}




