html{
    height: 100%;
}

body{
    height:1000%;
    margin:0;
    background-color: rgb(34, 33, 37);
    padding-top:3%;
}


::-webkit-scrollbar{
    width:15px;
}

::-webkit-scrollbar-track{
    background: #807f7f;
    
}

::-webkit-scrollbar-thumb{
    background: rgb(89, 89, 89);
}


.header{
    width:100%;
    position:fixed;
    top:0;
    background-color:#1f1c1c;
    border-bottom:0.2vw solid white;
    
    opacity:0.95;
    z-index:100;
}
.header a{
    float:left;
    color:white;
    opacity:1;
    font: 1vw consolas;
    margin-left:2.5vw;
    margin-top:1.5vw;
    margin-bottom:1vw;
}

.header h1{
    float:left;
    color:white;
    font:1.5vw consolas;
    margin-left: 3vw;
    margin-right:55vw;
    margin-top:1vw;
    margin-bottom:1vw;
}

.header a:hover{
    cursor: pointer;
}

a:active, a:focus{
    outline:0;
    border: none;
}


.intro{
    width:60%;
    text-align:center;
    margin: 0 auto;
}



.intro h2{
    font: 6vw Consolas;
    color:white;
    margin-bottom:2%;
}

.intro h1{
    font: 2vw Consolas;
    color:white;
}

.smallTxt{
    font: 1.5vw Consolas;
    color:white;
}

.iconContainer{
    margin-top:5vh;
    text-align:center;
}

.iconContainer a{
    text-decoration:none;
}

.fa{
    font-size:3vw;
    color:white;
    margin-right:1vw;
}


.projects{
    margin: 0 auto;
    padding-top:7vh;
    margin-top:-7vh;
}

.projects h1{
    font: 2.5vw Consolas;
    color:white;
}

.projectScroll{
    margin-top:20vh;
    text-align:center;
}
